.button {
	background: transparent;
	border-radius: 1rem;
	--button-color: #fff;
	overflow: hidden;
}

.button .hamburger {
	transition:
		translate 0.4s,
		rotate 0.4s;
}

.button[aria-expanded='true'] .hamburger {
	translate: 2px -2px;
	rotate: 0.125turn;
}

.button .line {
	transition: 0.4s;
	stroke-dasharray: 60 31 60 300;
}

.button[aria-expanded='true'] .line {
	stroke-dasharray: 60 105 60 300;
	stroke-dashoffset: -90;
}

.menu_mobile {
	max-height: 0;
	transition: max-height 0.3s ease-out;
}

.menu_mobile[aria-expanded='true'] {
	max-height: 300px;
	border-bottom: 1px solid rgb(63 63 70);
}

.menu_mobile_li {
	opacity: 0;
	transition: opacity 0.3s ease-out;
}

.menu_mobile_li[aria-expanded='true'] {
	opacity: 1;
}
